/* ===================== */
/* CẤU HÌNH CHUNG TRANG  */
/* ===================== */
body {
  background-image: url("https://i.pinimg.com/1200x/a9/14/6a/a9146a4647a90eeaeb84cc34215c3257.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  justify-content: flex-start;
  align-items: center;
}

/* ===================== */
/*HEADER TRANG LẤY LẠI MẬT KHẨU*/
/* ===================== */
.cp-header {
  width: 100%;
  background-color: white;
}

.cp-header .header-containt {
  width: 1300px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 70px;
  border-bottom: 1px solid #eee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  top: 0;
  left: 0;
  z-index: 9999;
  margin: 0 auto;
}

.cp-header .header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cp-header .header-logo {
  width: 65px;
  height: auto;
}

.cp-header h2 {
  font-size: 25px;
  color: #2c210d;
  font-weight: 500;
}

.cp-header .header-right a {
  color: #d0011b;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
}

.cp-header .header-right a:hover {
  text-decoration: underline;
}

/* ===================== */
/* KHUNG FORM FORGOT */
/* ===================== */
.fp-container {
  -webkit-backdrop-filter: blur(10px);
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}

.fp-container .container {
  margin-top: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: #2c210d;
  font-size: 25px;
  font-weight: bold;
}

.abc {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

/* ===================== */
/*    NÚT QUAY LẠI       */
/* ===================== */
.abc .back-btn {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.abc .back-btn a {
  font-size: 36px;
  color: #a57f3a;
  transition: 0.3s;
}

.abc .back-btn a:hover {
  transform: translateY(-50%) scale(1.15);
}

/* ===================== */
/* FORM LẤY LẠI MẬT KHẨU */
/* ===================== */
.fp-form {
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.95);
  width: 550px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 60px 40px; /* thêm đệm trong form */
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

.fp-form h2 {
  font-size: 25px;
  font-weight: bold;
  color: #2c210d;
  text-transform: uppercase;
}

/* ===================== */
/*  Ô NHẬP THÔNG TIN     */
/* ===================== */
.form-group {
  /*margin-top: 20px;*/
  width: 80%;
  margin-bottom: 10px;
  text-align: left;
}

label {
  font-weight: bold;
  font-size: 17px;
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 17px;
  transition: border-color 0.3s;
}

input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.4);
}

/* ===================== */
/*  NÚT GỬI YÊU CẦU      */
/* ===================== */
.btn-request {
    position: relative;
    border-radius: 20px;
    border: 1px solid #c09b5b;
    background-color: #c09b5b;
    box-shadow: 0 0 1rem rgba(192, 155, 91, 0.6);
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    margin: 10px;
    padding: 12px 80px;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn-request:hover {
    letter-spacing: 3px;
    background-color: #d4ab6a;
    box-shadow: 0 0 1.5rem rgba(192, 155, 91, 0.8);
}
.btn-request:active{
    transform: scale(0.95);
}
.btn-request:focus{
    outline: none;
}

/* ===================== */
/*         FOOTER        */
/* ===================== */
.fp-footer {
  margin-top: 10px;
  font-size: 20px;
  color: #2c210d;
}

.fp-footer a {
  color: #007bff;
  text-decoration: none;
  font-size: 20px;
}

.fp-footer a:hover {
  text-decoration: underline;
}
