/* ===================== */
/* CẤU HÌNH CHUNG TRANG  */
/* ===================== */
body{
    background-image: url("https://i.pinimg.com/1200x/a9/14/6a/a9146a4647a90eeaeb84cc34215c3257.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

/* ===================== */
/*     LOGO CỦA TRANG    */
/* ===================== */
.logo-login{
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 10;
}

.logo-login img{
    width: 100px;
    height: auto;
}

/* ===================== */
/*     KHUNG ĐĂNG KÍ     */
/* ===================== */
.register-container{
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    padding: 60px 80px;
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
    text-align: center;

    min-width: 500px;
    max-width: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h2{
    margin-top: 0;
    margin-bottom: 25px;
    color: #2C210D;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

/* ===================== */
/*     FORM ĐĂNG KÍ      */
/* ===================== */
.register-form{
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* ===================== */
/*  Ô NHẬP THÔNG TIN     */
/* ===================== */
.form-group{
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
}

label{
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 17px;
    color: #333;
}

input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 17px;
    box-sizing: border-box;
    transition: 0.3s;
}

input:focus{
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 6px rgba(0, 123, 255, 0.4);
}

/* ===================== */
/*      NÚT ĐĂNG KÍ      */
/* ===================== */
.register-btn{
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-btn:hover{
    background-color: #218838;
}

/* ===================== */
/*        CHÂN FORM      */
/* ===================== */
.form-footer{
    margin-top: 10px;
    font-size: 18px;
    color: #555;
}

.form-footer a{
    color: #007bff;
    text-decoration: none;
}

.form-footer a:hover {
    text-decoration: underline;
}