/* ===================== */
/* CẤU HÌNH CHUNG TRANG  */
/* ===================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f7f7f7;
  min-height: 100vh;
  padding: 50px 20px;
}

.od-track {
  position: relative;
  background: #ffffff;
  border-radius: 15px;
  padding: 40px;
  max-width: 700px;
  width: 100%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.od-track h1 {
  text-align: center;
  color: #bb7a2b;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.text {
  text-align: center;
  color: #666;
  margin-bottom: 25px;
  font-size: 0.95rem;
}


/* ===================== */
/* TRẠNG THÁI ĐƠN HÀNG   */
/* ===================== */
.order-status h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.progress-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 40px 0;
}

.progress-bar::before {
  content: "";
  position: absolute;
  top: 35%;
  left: 8%;
  right: 8%;
  height: 4px;
  background: #d1d5db;
  z-index: 0;
}

.step_complete {
  background: #e5e7eb;
  color: #333;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.step_complete i {
  font-size: 1.4rem;
}

.step_complete p {
  font-size: 0.8rem;
  margin-top: 5px;
  text-align: center;
}
.item-quantity {
  position: absolute;
  top: -8px;
  right: 0px;
  background: red;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
}
/* ===================== */
/*   THÔNG TIN ĐƠN HÀNG  */
/* ===================== */
.order-info h2 {
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

.information {
  background: #f7e4bc;
  border-radius: 10px;
  padding: 20px;
}

.information p {
  margin: 6px 0;
  color: #444;
}
.close-btn {
  position: absolute;
  top: 20px;
  left: 640px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: rgba(107, 114, 128, 0.1);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  font-size: 20px;
}

.close-btn:hover {
  background: #f7e4bc;
  color: #111827;
  transform: scale(1.05);
}
.review-section {
    text-align: center;
    margin-top: 25px;
}

.review-btn {
    display: inline-block;
    background: #b98b53;
    color: #fff;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s ease;
}

.review-btn i {
    margin-right: 6px;
    font-size: 20px;
}

.review-btn:hover {
    background: #bb7a2b;
}