/* ===================== */
/* CẤU HÌNH CHUNG TRANG  */
/* ===================== */
body {
  font-family: "Segoe UI", sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  color: #333;
}

/* ===================== */
/*      HEADER TRANG     */
/* ===================== */
.header {
  background: white;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header-cont {
  width: 1300px;
  margin: 0 auto;
}
.header-cont a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.header img {
  width: 100px;
  height: 100px;
}
.header h2 {
  color: #8b7355;
  font-size: 28px;
  font-weight: 600;
}

.cart-page {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 40px 60px;
  width: 1300px;
  margin: 0 auto;
  padding-bottom: 200px;
}

.cart-left {
  flex: 2;
}

.cart-left h2 {
  font-size: 24px;
  font-weight: 600;
}

.line {
  width: 50%;
  height: 2px;
  background-color: #000;
  border: none;
  margin: 10px 0 30px;
}

.empty {
  font-size: 18px;
  color: #777;
  text-align: center;
  margin-top: 60px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #fff;
}

.cart-item img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
}

.item-info {
  flex: 1;
  margin-left: 15px;
}

.item-info h4 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.price {
  color: #ff3d00;
  font-weight: 600;
  margin: 6px 0;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.quantity button:hover {
  background-color: #ccc;
}

.item-total {
  width: 120px;
  text-align: right;
  font-weight: bold;
}

.delete-btn {
  border: none;
  background-color: transparent;
  color: #ff3d00;
  cursor: pointer;
  font-weight: bold;
}

.delete-btn:hover {
  text-decoration: underline;
}

.cart-right {
  flex: 1;
}

.order-box {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}

.order-box h3 {
  margin-top: 0;
  margin-bottom: 15px;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.checkout-btn {
  width: 100%;
  padding: 12px;
  background-color: #b98b53;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}

.checkout-btn:hover {
  background-color: #bb7a2b;
}

.order-note {
  margin-top: 30px;
  font-size: 14px;
  color: #555;
}

.order-note a {
  display: block;
  margin-bottom: 10px;
  color: #444;
  text-decoration: none;
}

.order-note i {
  margin-right: 5px;
}

.order-note a:hover {
  text-decoration: underline;
}

.order-note ul {
  padding-left: 20px;
}

.order-note li {
  margin-bottom: 10px;
}
